[submodule "external/img4tool"]
	path = external/img4tool
	url = https://github.com/encounter/img4tool.git
[submodule "external/tsschecker"]
	path = external/tsschecker
	url = https://github.com/encounter/tsschecker.git
[submodule "external/idevicerestore"]
	path = external/idevicerestore
	url = https://github.com/encounter/idevicerestore.git
